body {
  margin: 0;
  background-color: #1e1e1e;
  color: white;
  overflow-x: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  display: flex;
}

.sidenav {
  width: 70px;
  height: 98vh;
  background-color: #313131;
  display: flex;
  color: white;
  flex-direction: column;
}

.first-icon-set {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
}

.last-icon-container {
  flex: 3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.last-icon-set {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-self: self-end;
  margin-bottom: 30px;
  align-items: center;
}
.side-icon {
  font-size: 35px;
  font-weight: 1px;
  color: #9b9b9b;
}

.spacing {
  margin-bottom: 45px;
}

.bottom-bar {
  width: 100vw;
  background-color: #1a8fdd;
  position: fixed;
  bottom: 0;
  height: 30px;
  display: flex;
  align-items: center;
}

.bottom-left-icon {
  flex: 1;
  margin-left: 20px;
}
.fas,
.far,
.fab {
  cursor: pointer;
}

.bottom-right-icon {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 40px;
}

.body {
  background-color: #1e1e1e;
  flex: 1;
  height: 100vh;
  margin-left: 70px;
  scrollbar-color: dark;
}

.line {
  color: gray;
  font-size: 22px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-open-container {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  position: fixed;
  flex: 1;
}
.file-open {
  cursor: pointer;
  width: 135px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
}

.file-name {
  margin: 8px;
  color: #d69f57;
  font-weight: 600;
}
.fa-times {
  font-size: 18px;
}
.fa-js {
  color: #cbcb41;
  font-size: 20px;
}
.text-container {
  margin-top: 40px;
  display: flex;
}

.code-something {
  display: flex;
  margin-top: 10px;
}
.text-content {
  font-size: 20px;
  font-weight: 520;
  background-color: #252526;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 30px;
  gap: 25px;
}

.Heading {
  font-size: 55px;
  margin-bottom: 5px;
}

.syntax-name {
  /* For heading and higlight */
  color: #2f7dd8;
}

.SubHeading-color{
  color: #9cdcfe;
}

.method-name {
  /* subtitle */
  color: #dcdcaa;
}
.string {
  /* paragraph */
  color: #ce9178;
}

/* src: https://www.w3schools.com/css/css_tooltip.asp */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #252526;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 7px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#about{
  margin:100px 18% 0px 18% ;
  box-shadow: 5px 8px #888888;
  padding: 10px 15px 10px 15px;
  border: 1px solid ;
  border-radius: 5px;
  letter-spacing: 2px;
 



}

.SubHeading{
  font-size:35px;
  margin-bottom: 10px;
}

.img-rounded{
  border-radius: 90px;
}


#skills{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin:100px 18% 0px 18% ;


}
.skill-logo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
   
}


#logo-text-container{
     /* margin:0px 10px 0px 10px; */
     padding-bottom: 0px;
     text-align: center;
     display: flex;
     flex-wrap: wrap;
 }

img{
  /* margin:0 8px 0 8px; */
  
  background-color: rgb(220, 220, 233);
  border-radius: 100px;
  cursor: pointer;
}


