
body {
  margin: 0; 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #1e1e1e;
  color: white;
  /* overflow: hidden; */

}




.container{
  display: flex;
}

.sidenav {
  width: 70px;
  height: 98vh;
  background-color: #313131;
  display: flex;
  color: white;
  flex-direction: column;
  overflow-y: hidden;
}

.first-icon-set {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
}

.last-icon-container{
    flex: 3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.last-icon-set {

  display: flex;
  flex-direction: column;
  justify-content:space-around ;
  justify-self: self-end;
  margin-bottom: 30px;
  align-items: center;
}
.side-icon {
  font-size: 35px;
  font-weight: 1px;
  color: #9b9b9b;
}

.spacing {
  margin-bottom: 45px;
}

.bottom-bar {
  width: 100vw;
  background-color: #1a8fdd;
  position: fixed;
  bottom: 0;
  height: 30px;
  display: flex;
  align-items: center;
 
}

.bottom-left-icon {
  flex: 1;
  margin-left: 20px;
  

}
.fas,
.far {
  cursor: pointer;
}


.bottom-right-icon {
  flex: 4;
  display: flex;  
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin-right: 40px;

}

.body{
  background-color: #1e1e1e;
  flex:1;
  overflow:auto;
  height: 100vh;
  margin-left: 70px;
  scrollbar-color: #6969dd #e0e0e0;


}
.body::-webkit-scrollbar {
  width: 700px;
}

.line{
  color: gray;
  font-size: 22px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}



.file-open-container{
  background-color: #252526;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  position: fixed;
  flex:1;
}
.file-open{
  cursor: pointer;
  width: 135px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
 
}

.file-name{
  margin: 8px;
  color: #d69f57;
  font-weight: 600;
}
.fa-times{
  font-size: 18px;
}
.fa-js{
  color: #cbcb41;
  font-size: 20px;
}
.text-container{
  margin-top:40px ;
  display: flex;
}


.code-something{
  display: flex;
}
.text-content{
  font-size: 20px;
  font-weight: 520;
  
}

.syntax-name{
  color: #2f7dd8;
}

.method-name{
  color: #dcdcaa;

}
.string{
  color: #ce9178;

}
